[submodule "lib/seqan"]
	path = lib/seqan
	url = https://github.com/seqan/seqan
[submodule "seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
	branch = master
[submodule "lib/sharg-parser"]
	path = lib/sharg-parser
	url = git@github.com:seqan/sharg-parser.git
[submodule "lib/raptor_data_simulation"]
	path = lib/raptor_data_simulation
	url = git@github.com:eaasna/raptor_data_simulation.git
